{% extends "App/base.html" %}

{% load static %}

{% block content %}
    
    &nbsp;

    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-lower"></span>
        </h2> 
        <h1 style="color:rgb(8, 8, 8)">SOBRE NOSOTROS</h1>
         <h1><span class="section-heading-upper;" style="font-size:0.5em;">Somos, Martin David y Macarena Espina De La Fuente, ambos medicos en la provincia de Buenos Aires. Nos interesa la informatica desde nuestra infancia. </span></h1>
        
        
        <div style="text-align:left; font-size:0.8em;">
            
        </div>
      </div>

      &nbsp;

    
{% endblock %}
