{% extends "App/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'App/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading ">Gracias a la confianza cotidiana de cientos de niños y adultos que participan de nuestras propuestas.</span>
          </h2></span>
            <span class="section-heading-lower">
          <p class="mb-3">
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Diversion </span>
                <span class="section-heading-lower">Garantizada
    
                </span>
              </h2>
              <p class="mb-0">Con más de 75 años de experiencia a nuestras espaldas, desde el club Los Halcones tenemos los conocimientos y herramientas necesarios para generar un espacio de disfrute para toda la familia.
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
  